{% extends "base.html" %}
{% load static %}

{% block head_title %}Page Not Found{% endblock %}

{% block content %}
<!-- Custom 404 page using Bootstrap -->
<div class="container py-4 text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="{% static 'images/404-error.svg' %}" alt="404 Error - Page Not Found" class="img-fluid mb-4 error-img">
            <h1 class="display-4 fw-bold">Oops! Page Not Found</h1>
            <p class="lead text-muted my-3">
                We couldn’t find the page you were looking for. It might have been moved or deleted.
            </p>
            <a href="{% url 'index' %}" class="btn btn-ios-primary mt-3">
                <i class="fa fa-arrow-left me-1"></i> Return to Home
            </a>
        </div>
    </div>
</div>
{% endblock %}